@import "./utils/variables";
@import "./Utils/mixins";
@import "./Base/polices";
@import "./Base/box-sizing";
@import "./Composants/boutons";
@import "./Utils/placeholders";

html, body{
    padding: 0;
    margin: 0;
    @include police-texte;
}

*{
    @include box-sizing;
}
.conteneur{
    min-width: 320px;
    width: 100%;
    margin: auto;
    @extend %colonne;
}


/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page{
    @extend %colonne;
    padding: 15px;
    background-color: darken($couleur-fond, 75%);
    color: white;
    &__titre{
        @include police-titre-logo;
        margin: 0;
    }
    &__elements{
        list-style-type: none;
        padding-left: 0;
        margin-top: 10px;
        &__lien{
            text-decoration: none;
            color: white;
            &__item{
                margin-bottom: 10px;
                &__nom{
                    margin-left: 5px;
                    &--long{
                        margin-left: 10px;
                    }
                }

            }
        }
    }
}
/************************************************ Accueil ************************************************************************************/
.entete{
    @extend %colonne;
    justify-content: center;
    &__logo{
        @extend %ligne;
        justify-content: center;
        padding-top: 10px;
        &__image{
            width: 200px;
            height: 45px;
            object-fit: contain;
        }
    }
    &__localisation{
        
        
        &__recherche{
            width: 100%;
            height: 35px;
            background-color: darken($couleur-fond, 10%);
            text-align: center;
            border-bottom: 2px;
            border-left: none;
            border-right: none;
        }
        &__icone{
            position: relative;           
            left: 100px;
            top: 25px;       
        }
    }

    &__reservation{
        @extend %colonne;
        text-align: center;
        align-items: center;
        background-color: $couleur-fond;
        padding: 30px 20px 40px 20px;
        margin-bottom: 10px;
        &__texte{
            color: darken($couleur-fond, 50%);
        }
        &__bouton-explorer{
            @include bouton-modulable(250px,50px,25px);
            color:white;
            background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
            border: none;
        }
        &__titre{
          margin-bottom: 0;
          font-size: x-large;
          width: 250px;
        }
        &__titre{
          margin-top: 5px;
        }
    }
}
.fonctionnement{
    @extend %colonne;
    padding: 0 10px;
    &__menu{
        @extend %ligne;
        border-radius: 15px;
        padding: 0 15px;
        margin-bottom: 20px;
        &__bouton{
            @include bouton;           
            @include ombre(darken($couleur-fond,10%));
            background-color: lighten($couleur-fond,1%);
            border: none;
            &__numero{
                width: 20px;
                height: 20px;
                border-radius: 50px;
                background-color: $couleur-primaire;
                color: white;
                @extend %ligne;
                align-items: center;
                justify-content: center;
                margin: 0 20px 0 -15px;
            }
            &__choix{
                width: 200px;
                @extend %ligne;
                align-items: center;
                text-align: center;
                justify-content: space-around;
                &__texte{
                    margin-left: 15px;
                    width: 220px;
                    @extend %ligne;
                    justify-content: flex-start;
                }
                &--couleur-primaire{
                    color:$couleur-primaire;
                }
                &--couleur-fond{
                    color: darken($couleur-fond, 40%);
                }
            }                
        }
        &__bouton--couleur{
            background-color: lighten($couleur-primaire, 30%);
        }
        
    }   
}
.choix-restaurants{
     @extend %colonne;
     padding: 0 10px 60px 10px;
     background-color:$couleur-fond;
    &__restaurant{
        @extend %ligne;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px; 
        margin-bottom: 15px;  
        background-color: white;  
        width: 339px;
        &__lien{  
            text-decoration: none;   
            &__image{
                width: 339px;
                height: 234px;
                object-fit: fill;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;           
            }
            &__nouveau{
                background-color: $couleur-tertiaire;
                width: 80px;
                height: 20px;
                text-align: center;
                border-radius: 2px;
                position: relative;
                left: 250px;
                top: 60px;
                color: darken($couleur-tertiaire, 40%);
                margin-top: -35px;
            }
        }
        &__image{
            width: 339px;
            height: 234px;
            object-fit: fill;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;           
        }
        
        &__legende{
            padding: 0px 15px;
            &__lieu{
                margin-top: 0px;
                
            }
            &__lieu{
                margin-top: -15px;
            }
        }
        &__favori{
            padding-right: 15px;
            
            &__coeur{
                font-size: x-large;
                cursor: pointer;
                &:hover{
                    color: #9c47fc;
                    display: block;
                    background: -webkit-linear-gradient($couleur-primaire, $couleur-secondaire);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }    
            }
        }
    }
 }
/**************************** restaurants **********************************************************************************************/
.entete-restaurant{
    @extend %ligne;
    justify-content: flex-start;
    align-items: center;
    &__logo{
        @extend %ligne;
        justify-content: center;
        margin-left: 50px;
        &__image{
            width: 200px;
            height: 50px;
            object-fit: contain;
        }
    }
}
.image-de-fond{
    width: 360px;
    height: auto;
    object-fit: contain;
}
/*xxxxxxxxxxxxxxxxxxxxxx RESTO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.carte-restaurant{
    @extend %colonne;
    padding: 15px 15px;
    margin-top: -20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $couleur-fond;
    opacity: 99%;
    
    &__titre{
        @include police-titre-logo;
        @extend %ligne;
       align-items: center;
       margin-top: -10px;
       &__coeur{
        margin-left: 30px;
       }
    }
    &__menu{
        @extend %colonne;
        margin-top: -30px;
        margin-bottom: 30px;
        &__titre{
            font-size: 1.2rem;
            border-bottom: 3px solid $couleur-tertiaire;
            width: 50px;
            padding-bottom: 5px;
        }
        &__choix{
            @extend %colonne;
            margin-bottom: 10px;
            padding: 5px 15px;
            border-radius: 20px;
            background-color: white;
            height: 70px;
            cursor: pointer;
            &__plat{
                font-weight: bold;
                margin:10px 0 0 0 ;
            }
            &__ingredient-prix{
                @extend %ligne;
                justify-content: space-between;
                margin-top: -10px;
                &__ingredient{
                    font-size: small;
                    @extend %ligne;
                    align-items: center;
                }
                &__prix{
                    font-weight: bold;
                }
                &--valide{
                    display: none;                    
                }
                
            }
            &:hover{
                .carte-restaurant__menu__choix__ingredient-prix--valide{
                    display: flex;
                    background-color: $couleur-tertiaire;
                    width: 50px;
                    height: 70px;
                    margin-top: -24px;
                    margin-right: -20px;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;                    
                    align-items: center;
                    justify-content: center;                
                    font-size: large;
                    color: white;
                }
            }
        }
    }
    &__bouton{
        @include bouton-modulable(200px,50px,20px);
        margin-left: 60px;
        background-image: linear-gradient($couleur-primaire, $couleur-secondaire);
        border: none;

    }
}

@media only screen and (min-width:768px){
    
    .conteneur{
        min-width: 720px;
        width: 100%;
    }
    .entete{
        &__localisation__icone{
            left:284px;
            top: 26px;
        }
        &__reservation__titre{
            width: 60%;
        }
    }
    .fonctionnement{
        text-align: center;
        &__menu{
            justify-content: center;
        }
    }
    .choix-restaurants{
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20px;
        justify-content: space-between;
        & h2{
            width: 100%;
        }
        &__restaurant{
            margin-right: 30px;
        }
    }

    .pied-de-page{
        text-align: center;
    }
}
