html, body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteneur {
  min-width: 320px;
  width: 100%;
  margin: auto;
}

/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pied-de-page .pied-de-page__elements {
  list-style-type: none;
}

.pied-de-page .pied-de-page__elements .pied-de-page__elements__item {
  text-decoration: none;
}

/************************************************ Accueil ************************************************************************************/
.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete .entete__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete .entete__logo .entete__logo__image {
  width: 200px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.entete .entete__localisation {
  height: 30px;
}

.entete .entete__reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete .entete__reservation .entete__reservation__bouton-explorer {
  border-radius: 25px;
  width: 200px;
  height: 35px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.fonctionnement .fonctionnement__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 15px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.fonctionnement .fonctionnement__menu .fonctionnement__menu__bouton {
  border-radius: 8px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .fonctionnement__menu .fonctionnement__menu__bouton .fonctionnement__menu__bouton__numero {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 0 -20px;
}

.fonctionnement .fonctionnement__menu .fonctionnement__menu__bouton .fonctionnement__menu__bouton__choix {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fonctionnement .fonctionnement__menu .fonctionnement__menu__bouton .fonctionnement__menu__bouton__choix .fonctionnement__menu__bouton__choix--lieu {
  color: #9356dc;
}

.choix-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px;
}

.choix-restaurants .choix-restaurants__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.choix-restaurants .choix-restaurants__restaurant .choix-restaurants__restaurant__image {
  width: 350px;
  height: 234px;
  -o-object-fit: fill;
     object-fit: fill;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.choix-restaurants .choix-restaurants__restaurant .choix-restaurants__restaurant__legende {
  padding: 0 15px;
}

.choix-restaurants .choix-restaurants__restaurant .choix-restaurants__restaurant__favori {
  padding-right: 15px;
}

/**************************** restaurants **********************************************************************************************/
.entete-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete-restaurant .entete-restaurant__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

.entete-restaurant .entete-restaurant__logo .entete-restaurant__logo__image {
  width: 200px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-de-fond {
  width: 360px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: .7;
}

.carte-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 5px;
  margin-top: -20px;
  border: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.carte-restaurant .carte-restaurant__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carte-restaurant .carte-restaurant__menu .carte-restaurant__menu__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 0 5px;
  border-radius: 20px;
}

.carte-restaurant .carte-restaurant__menu .carte-restaurant__menu__choix .carte-restaurant__menu__choix__ingredient-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */