@import "./utils/variables";
@import "./Utils/mixins";
@import "./Base/polices";
@import "./Base/box-sizing";
@import "./Composants/boutons";

html, body{
    padding: 0;
    margin: 0;
    @include police-texte;
}

*{
    @include box-sizing;
}
.conteneur{
    min-width: 320px;
    width: 100%;
    margin: auto;
}

/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: darken($couleur-fond, 75%);
    color: white;
    &__titre{
        @include police-titre-logo;
        margin: 0;
    }
    &__elements{
        list-style-type: none;
        padding-left: 0;
        margin-top: 10px;
        &__lien{
            text-decoration: none;
            color: white;
            &__item{
                margin-bottom: 10px;
                &__nom{
                    margin-left: 5px;
                    &--long{
                        margin-left: 10px;
                    }
                }

            }
        }
    }
}
/************************************************ Accueil ************************************************************************************/
.entete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__logo{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        &__image{
            width: 200px;
            height: 45px;
            object-fit: contain;
        }
    }
    &__localisation{
        
        
        &__recherche{
            width: 100%;
            height: 35px;
            background-color: darken($couleur-fond, 10%);
            text-align: center;
        }
        &__icone{
            position: relative;           
            left: 100px;
            top: 25px;
            
        }
    }

    &__reservation{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: $couleur-fond;
        padding: 30px 20px 40px 20px;
        margin-bottom: 10px;
        &__bouton-explorer{
            @include bouton-modulable(250px,50px,25px);
            color:white;
            background-color: $couleur-secondaire;
        }
        &__titre{
          margin-bottom: 0;
          font-size: x-large;
          width: 250px;
        }
        &__titre{
          margin-top: 5px;
        }
    }
}
.fonctionnement{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    &__menu{
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        padding: 0 15px;
        margin-bottom: 20px;
        &__bouton{
            @include bouton;           
            @include ombre(darken($couleur-fond,10%));
            background-color: lighten($couleur-fond,1%);
            border: none;
            &__numero{
                width: 30px;
                height: 30px;
                border-radius: 50px;
                background-color: $couleur-primaire;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 20px 0 -20px;
            }
            &__choix{
                width: 200px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                &--lieu{
                    color:$couleur-primaire;
                }
            }                
        }
        &__bouton--couleur{
            background-color: lighten($couleur-primaire, 30%);
        }
        
    }   
}
.choix-restaurants{
     display: flex;
     flex-direction: column;
     padding: 0 10px 60px 10px;
     background-color: $couleur-fond;
    &__restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        border: 1px solid black;  
        margin-bottom: 15px;  
        &__image{
            width: 339px;
            height: 234px;
            object-fit: fill;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            
        }
        &__legende{
            padding: 0 15px;
        }
        &__favori{
            padding-right: 15px;
        }
    }
 }
/**************************** restaurants **********************************************************************************************/
.entete-restaurant{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__logo{
        display: flex;
        justify-content: center;
        margin-left: 50px;
        &__image{
            width: 200px;
            height: 50px;
            object-fit: contain;
        }
    }
}
.image-de-fond{
    width: 360px;
    height: auto;
    object-fit: contain;
    opacity: .7;
}

.carte-restaurant{
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
    margin-top: -20px;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    &__menu{
        display: flex;
        flex-direction: column;
        &__choix{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            margin-bottom: 10px;
            padding: 0 5px;
            border-radius: 20px;
            &__ingredient-prix{
                display: flex;
                flex-direction:row ;
                justify-content: space-between;
            }
        }
    }
}
