@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./base/polices";
@import "./base/box-sizing";

@import "./composants/boutons";
@import "./composants/chargement";
@import "./composants/cartes";


@import "./layout/footer";
@import "./layout/navigation";
@import "./layout/header";
@import "./layout/conteneur";

html, body{
    padding: 0;
    margin: 0;
    @include police-texte;
}

*{
    @include box-sizing;
}

.chargement{  
    @include chargement-page;
    
    &__icone-chargement{
        @include icone-du-chargement;        
    }
}

.conteneur{
    @include conteneur;
}
.conteneur-accueil{
   @include conteneur-accueil;
}


/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page{
   @include pied;
}
/************************************************ Accueil ************************************************************************************/
.entete{
   @include entete;
}
.fonctionnement{
    @include navigation;
 }
/*************************************** cartes ***********************************************************************************/

.choix-restaurants{
    @include carte-accueil;
}


/**************************** restaurants **********************************************************************************************/
.entete-restaurant{
   @include entete-restaurant;
}

.image-de-fond{
    @include image-de-fond;
}
/*xxxxxxxxxxxxxxxxxxxxxx RESTO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.carte-restaurant{
    @include carte-restaurant;
    &__commander{
        display: flex;
        justify-content: center;     
        &__bouton{
            @include bouton-modulable(200px,50px,20px);
            background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
            color: white;
            @include ombre($couleur-ombre);
            transition: box-shadow 0.5s;
            &:hover{
                background-image: linear-gradient($couleur-secondaire-claire, $couleur-primaire-claire);
                @include ombre(darken($couleur-ombre,20%));
            }
        }
    }
}


