@media only screen and (min-width:992px){
    .conteneur-totale{
        background-color: beige;
    }
    .conteneur{
        max-width: 1300px;
        width: 80%;
        margin: auto;
        
    }
    .conteneur-accueil{
        max-width: 1200px;
        width: 80%;
        margin-left: 5%;
    }

    .choix-restaurants{
        justify-content: space-evenly;
        &__restaurant{
            width: 40%;
        }
    }
}