.carte-restaurant__menu, .carte-restaurant, .choix-restaurants, .fonctionnement, .entete__reservation, .entete, .pied-de-page, .conteneur-accueil, .conteneur {
  display: flex;
  flex-direction: column;
}

.carte-restaurant__menu__choix__detail__ingredient-prix, .carte-restaurant__menu__choix, .carte-restaurant__titre, .entete-restaurant__logo, .entete-restaurant, .choix-restaurants__restaurant, .fonctionnement__menu__bouton__choix__texte, .fonctionnement__menu__bouton__choix, .fonctionnement__menu__bouton__numero, .fonctionnement__menu, .entete__logo {
  display: flex;
  flex-direction: row;
}

/*xxxxxxxxxxxxxxxxx TABLETTE xxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxx ORDINATEUR xxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx TABLETTE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ORDINATEUR xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*@mixin entete-restaurant-ordinateur{

}*/
/*xxxxxxxxxxxxxxxxxxxxxxxxx MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxx TABLETTE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*xxxxxxxxxxxxxxx ORDINATEUR xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

.chargement {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: tran 2s linear;
  visibility: hidden;
}
@keyframes tran {
  0% {
    visibility: visible;
  }
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.chargement__icone-chargement {
  width: 100px;
  height: 100px;
  border: 6px dashed #9356dc;
  border-top-color: #ff79da;
  border-radius: 50%;
  animation: chargement 2s linear 1;
  -o-animation: chargement 2s linear 1;
  -webkit-animation: chargement 2s linear;
}
@keyframes chargement {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(260deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.conteneur {
  margin: auto;
  overflow: hidden;
}

.conteneur-accueil {
  margin: auto;
  overflow: hidden;
  opacity: 1;
  animation: transpa 2s linear;
}
@keyframes transpa {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.1;
  }
  98% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page {
  padding: 30px;
  background-color: #373737;
  color: white;
}
.pied-de-page__titre {
  font-family: "Shrikhand";
  font-weight: 500;
  margin: 0 0 15px 0;
}
.pied-de-page__elements {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.pied-de-page__elements__lien {
  text-decoration: none;
  color: white;
}
.pied-de-page__elements__lien__item {
  margin-bottom: 10px;
}
.pied-de-page__elements__lien__item__nom {
  margin-left: 5px;
}
.pied-de-page__elements__lien__item__nom--long {
  margin-left: 10px;
}

/************************************************ Accueil ************************************************************************************/
.entete {
  justify-content: center;
}
.entete__logo {
  justify-content: center;
  padding-top: 10px;
}
.entete__logo__image {
  width: 60%;
  height: 45px;
  object-fit: contain;
}
.entete__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  border-bottom: 2px;
  border-left: none;
  border-right: none;
  box-shadow: 0px 2px 0px 0px #CFCFCF inset;
  height: 40px;
}
.entete__localisation__recherche {
  background-color: #dddddd;
  text-align: center;
  border: none;
}
.entete__localisation__icone {
  position: relative;
  margin-right: -30px;
}
.entete__reservation {
  text-align: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 30px 20px 40px 20px;
}
.entete__reservation__texte {
  color: #777777;
}
.entete__reservation__bouton-explorer {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 2px 3px #CFCFCF;
  border: none;
  transition: box-shadow 0.5s;
}
.entete__reservation__bouton-explorer:hover {
  background-image: linear-gradient(#ff83dd, #985ede);
  box-shadow: 2px 3px #9c9c9c;
}
.entete__reservation__titre {
  margin-bottom: 0;
  font-size: x-large;
  width: 250px;
}
.entete__reservation__titre {
  margin-top: 5px;
}

.fonctionnement {
  padding: 0 10px;
}
.fonctionnement__menu {
  border-radius: 15px;
  padding: 0 15px;
  margin-bottom: 20px;
  width: 100%;
}
.fonctionnement__menu__bouton {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 2px 3px #dddddd;
  background-color: #f9f9f9;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.fonctionnement__menu__bouton__numero {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 -15px;
}
.fonctionnement__menu__bouton__choix {
  width: 80%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.fonctionnement__menu__bouton__choix__texte {
  margin-left: 15px;
  width: 220px;
  justify-content: flex-start;
}
.fonctionnement__menu__bouton__choix--couleur-primaire {
  color: #9356dc;
}
.fonctionnement__menu__bouton__choix--couleur-fond {
  color: #909090;
}
.fonctionnement__menu__bouton:hover {
  box-shadow: 2px 3px #c3c3c3;
  background-color: #fbfbfb;
}
.fonctionnement__menu__bouton--couleur {
  background-color: #e4d5f6;
}
.fonctionnement__menu__bouton--couleur:hover {
  background-color: #e9ddf8;
}

/*************************************** cartes ***********************************************************************************/
.choix-restaurants {
  padding: 0 10px 60px 10px;
  background-color: #F6F6F6;
  width: 100%;
}
.choix-restaurants__restaurant {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: white;
  width: 100%;
}
.choix-restaurants__restaurant__nouveau {
  background-color: #99e2d0;
  width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  left: 60%;
  top: 60px;
  color: #278870;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choix-restaurants__restaurant__lien {
  text-decoration: none;
  width: 100%;
}
.choix-restaurants__restaurant__lien__image {
  width: 100%;
  height: 234px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.choix-restaurants__restaurant__lien__nouveau {
  background-color: #99e2d0;
  width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  left: 60%;
  top: 60px;
  color: #278870;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choix-restaurants__restaurant__image {
  width: 100%;
  height: 234px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.choix-restaurants__restaurant__image--francaise {
  object-position: 50% bottom;
}
.choix-restaurants__restaurant__image--delice {
  object-position: 50% bottom;
}
.choix-restaurants__restaurant__legende {
  padding: 0px 15px;
}
.choix-restaurants__restaurant__legende__nom {
  font-size: larger;
}
.choix-restaurants__restaurant__legende__lieu {
  margin-top: -15px;
  font-weight: 300;
}
.choix-restaurants__restaurant__favori {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  font-size: 1.5rem;
}
.choix-restaurants__restaurant__favori__coeur-vide {
  position: relative;
}
.choix-restaurants__restaurant__favori__coeur-plein {
  position: absolute;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s linear;
}
.choix-restaurants__restaurant__favori__coeur-plein:hover {
  color: #9356dc;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5rem;
  transition: 0.4s linear;
}

/**************************** restaurants **********************************************************************************************/
.entete-restaurant {
  align-items: center;
  padding-left: 5px;
}
.entete-restaurant__bouton {
  color: black;
  width: 30%;
}
.entete-restaurant__logo__image {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.image-de-fond {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/*xxxxxxxxxxxxxxxxxxxxxx RESTO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.carte-restaurant {
  padding: 50px 15px 100px 15px;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #F6F6F6;
  opacity: 99%;
}
.carte-restaurant__titre {
  font-family: "Shrikhand";
  align-items: center;
  margin: -10px 0 50px 0;
}
.carte-restaurant__titre__coeur {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carte-restaurant__titre__coeur__coeur-vide {
  position: relative;
}
.carte-restaurant__titre__coeur__coeur-plein {
  position: absolute;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.4s linear;
}
.carte-restaurant__titre__coeur__coeur-plein:hover {
  color: #9356dc;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5rem;
  transition: 0.4s linear;
}
.carte-restaurant__menu {
  margin-top: -30px;
  margin-bottom: 30px;
  width: 100%;
}
.carte-restaurant__menu__titre {
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
  padding-bottom: 5px;
  animation: glissement-menu 2s ease-in-out;
  -o-animation: glissement-menu 2s ease-in-out;
  -webkit-animation: glissement-menu 2s ease-in-out;
}
@keyframes glissement-menu {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 6%;
  }
}
.carte-restaurant__menu__choix {
  margin-bottom: 10px;
  padding: 0 0 0 15px;
  border-radius: 20px;
  background-color: white;
  justify-content: space-between;
  cursor: pointer;
}
.carte-restaurant__menu__choix__detail {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-restaurant__menu__choix__detail__plat {
  font-weight: bold;
  margin: 10px 0 0 0;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}
.carte-restaurant__menu__choix__detail__ingredient-prix {
  justify-content: space-between;
  margin-top: -10px;
  align-items: center;
}
.carte-restaurant__menu__choix__detail__ingredient-prix__ingredient {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-restaurant__menu__choix__detail__ingredient-prix__prix {
  font-weight: bold;
  margin-right: 15px;
  justify-content: right;
  display: flex;
  width: 35px;
}
.carte-restaurant__menu__choix__coche {
  width: 25%;
  background-color: #99e2d0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  animation: glissement 1s ease-in-out 1;
}
@keyframes glissement {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}
.carte-restaurant__menu__choix__coche__valide {
  font-size: large;
  color: white;
  animation: pivot 1s linear 1;
}
@keyframes pivot {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carte-restaurant__menu__choix--dessert:hover .carte-restaurant__menu__choix__coche--dessert, .carte-restaurant__menu__choix--dessert:hover .carte-restaurant__menu__choix__coche--plats, .carte-restaurant__menu__choix--dessert:hover .carte-restaurant__menu__choix__coche--entree, .carte-restaurant__menu__choix--plats:hover .carte-restaurant__menu__choix__coche--dessert, .carte-restaurant__menu__choix--plats:hover .carte-restaurant__menu__choix__coche--plats, .carte-restaurant__menu__choix--plats:hover .carte-restaurant__menu__choix__coche--entree, .carte-restaurant__menu__choix--entree:hover .carte-restaurant__menu__choix__coche--dessert, .carte-restaurant__menu__choix--entree:hover .carte-restaurant__menu__choix__coche--plats, .carte-restaurant__menu__choix--entree:hover .carte-restaurant__menu__choix__coche--entree {
  display: flex;
}
.carte-restaurant__commander {
  display: flex;
  justify-content: center;
}
.carte-restaurant__commander__bouton {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  box-shadow: 2px 3px #CFCFCF;
  transition: box-shadow 0.5s;
}
.carte-restaurant__commander__bouton:hover {
  background-image: linear-gradient(#ff83dd, #985ede);
  box-shadow: 2px 3px #9c9c9c;
}

/*# sourceMappingURL=styles.css.map */
