html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

.conteneur {
  min-width: 320px;
  width: 100%;
  margin: auto;
}

/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page {
  display: flex;
  flex-direction: column;
}
.pied-de-page .pied-de-page__elements {
  list-style-type: none;
}
.pied-de-page .pied-de-page__elements .pied-de-page__elements__item {
  text-decoration: none;
}

/************************************************ Accueil ************************************************************************************/
.entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.entete__logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.entete__logo__image {
  width: 200px;
  height: 45px;
  object-fit: contain;
}
.entete__localisation {
  height: 30px;
  background-color: #dddddd;
}
.entete__reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 0 20px 40px 20px;
}
.entete__reservation__bouton-explorer {
  border-radius: 25px;
  width: 200px;
  height: 35px;
  color: white;
  background-color: #ff79da;
  cursor: pointer;
}
.entete__reservation__titre {
  margin-bottom: 0;
  font-size: x-large;
  width: 250px;
}
.entete__reservation__titre {
  margin-top: 5px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.fonctionnement__menu {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.fonctionnement__menu__bouton {
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 3px #c3c3c3;
  border: none;
}
.fonctionnement__menu__bouton__numero {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 -20px;
}
.fonctionnement__menu__bouton__choix {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.fonctionnement__menu__bouton__choix__choix--lieu {
  color: #9356dc;
}
.fonctionnement__menu__bouton--couleur {
  background-color: #e4d5f6;
}

.choix-restaurants {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  background-color: #f6f6f6;
}
.choix-restaurants__restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.choix-restaurants__restaurant__image {
  width: 350px;
  height: 234px;
  object-fit: fill;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.choix-restaurants__restaurant__legende {
  padding: 0 15px;
}
.choix-restaurants__restaurant__favori {
  padding-right: 15px;
}

/**************************** restaurants **********************************************************************************************/
.entete-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.entete-restaurant__logo {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.entete-restaurant__logo__image {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.image-de-fond {
  width: 360px;
  height: auto;
  object-fit: contain;
  opacity: 0.7;
}

.carte-restaurant {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  margin-top: -20px;
  border: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.carte-restaurant__menu {
  display: flex;
  flex-direction: column;
}
.carte-restaurant__menu__choix {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 0 5px;
  border-radius: 20px;
}
.carte-restaurant__menu__choix__ingredient-prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
