.carte-restaurant__menu__choix, .carte-restaurant__menu, .carte-restaurant, .choix-restaurants, .fonctionnement, .entete__reservation, .entete, .pied-de-page, .conteneur {
  display: flex;
  flex-direction: column;
}

.carte-restaurant__menu__choix__ingredient-prix__ingredient, .carte-restaurant__menu__choix__ingredient-prix, .carte-restaurant__titre, .entete-restaurant__logo, .entete-restaurant, .choix-restaurants__restaurant, .fonctionnement__menu__bouton__choix__texte, .fonctionnement__menu__bouton__choix, .fonctionnement__menu__bouton__numero, .fonctionnement__menu, .entete__logo {
  display: flex;
  flex-direction: row;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

.conteneur {
  min-width: 320px;
  width: 100%;
  margin: auto;
}

/******************************************** PIED DE PAGE *************************************************************************************/
.pied-de-page {
  padding: 15px;
  background-color: #373737;
  color: white;
}
.pied-de-page__titre {
  font-family: "Shrikhand";
  margin: 0;
}
.pied-de-page__elements {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.pied-de-page__elements__lien {
  text-decoration: none;
  color: white;
}
.pied-de-page__elements__lien__item {
  margin-bottom: 10px;
}
.pied-de-page__elements__lien__item__nom {
  margin-left: 5px;
}
.pied-de-page__elements__lien__item__nom--long {
  margin-left: 10px;
}

/************************************************ Accueil ************************************************************************************/
.entete {
  justify-content: center;
}
.entete__logo {
  justify-content: center;
  padding-top: 10px;
}
.entete__logo__image {
  width: 200px;
  height: 45px;
  object-fit: contain;
}
.entete__localisation__recherche {
  width: 100%;
  height: 35px;
  background-color: #dddddd;
  text-align: center;
  border-bottom: 2px;
  border-left: none;
  border-right: none;
}
.entete__localisation__icone {
  position: relative;
  left: 100px;
  top: 25px;
}
.entete__reservation {
  text-align: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 30px 20px 40px 20px;
  margin-bottom: 10px;
}
.entete__reservation__texte {
  color: #777777;
}
.entete__reservation__bouton-explorer {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  cursor: pointer;
  color: white;
  background-color: #9356dc;
}
.entete__reservation__titre {
  margin-bottom: 0;
  font-size: x-large;
  width: 250px;
}
.entete__reservation__titre {
  margin-top: 5px;
}

.fonctionnement {
  padding: 0 10px;
}
.fonctionnement__menu {
  border-radius: 15px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.fonctionnement__menu__bouton {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 3px #dddddd;
  background-color: #f9f9f9;
  border: none;
}
.fonctionnement__menu__bouton__numero {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 -15px;
}
.fonctionnement__menu__bouton__choix {
  width: 200px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.fonctionnement__menu__bouton__choix__texte {
  margin-left: 15px;
  width: 220px;
  justify-content: flex-start;
}
.fonctionnement__menu__bouton__choix--couleur-primaire {
  color: #9356dc;
}
.fonctionnement__menu__bouton__choix--couleur-fond {
  color: #909090;
}
.fonctionnement__menu__bouton--couleur {
  background-color: #e4d5f6;
}

.choix-restaurants {
  padding: 0 10px 60px 10px;
  background-color: #F6F6F6;
}
.choix-restaurants__restaurant {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: white;
  width: 339px;
}
.choix-restaurants__restaurant__lien {
  text-decoration: none;
}
.choix-restaurants__restaurant__lien__image {
  width: 339px;
  height: 234px;
  object-fit: fill;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.choix-restaurants__restaurant__lien__nouveau {
  background-color: #99e2d0;
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  position: relative;
  left: 250px;
  top: 60px;
  color: #278870;
  margin-top: -35px;
}
.choix-restaurants__restaurant__image {
  width: 339px;
  height: 234px;
  object-fit: fill;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.choix-restaurants__restaurant__legende {
  padding: 0px 15px;
}
.choix-restaurants__restaurant__legende__lieu {
  margin-top: 0px;
}
.choix-restaurants__restaurant__legende__lieu {
  margin-top: -15px;
}
.choix-restaurants__restaurant__favori {
  padding-right: 15px;
}
.choix-restaurants__restaurant__favori__coeur {
  font-size: x-large;
  cursor: pointer;
}
.choix-restaurants__restaurant__favori__coeur:hover {
  color: #ff79da;
}

/**************************** restaurants **********************************************************************************************/
.entete-restaurant {
  justify-content: flex-start;
  align-items: center;
}
.entete-restaurant__logo {
  justify-content: center;
  margin-left: 50px;
}
.entete-restaurant__logo__image {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.image-de-fond {
  width: 360px;
  height: auto;
  object-fit: contain;
}

/*xxxxxxxxxxxxxxxxxxxxxx LA PALETTE DU GOUT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.carte-restaurant {
  padding: 15px 15px;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #F6F6F6;
  opacity: 99%;
}
.carte-restaurant__titre {
  font-family: "Shrikhand";
  align-items: center;
  margin-top: -10px;
}
.carte-restaurant__titre__coeur {
  margin-left: 30px;
}
.carte-restaurant__menu {
  margin-top: -30px;
  margin-bottom: 30px;
}
.carte-restaurant__menu__titre {
  font-size: 1.2rem;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
  padding-bottom: 5px;
}
.carte-restaurant__menu__choix {
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: white;
  height: 70px;
  cursor: pointer;
}
.carte-restaurant__menu__choix__plat {
  font-weight: bold;
  margin: 10px 0 0 0;
}
.carte-restaurant__menu__choix__ingredient-prix {
  justify-content: space-between;
  margin-top: -10px;
}
.carte-restaurant__menu__choix__ingredient-prix__ingredient {
  font-size: small;
  align-items: center;
}
.carte-restaurant__menu__choix__ingredient-prix__prix {
  font-weight: bold;
}
.carte-restaurant__menu__choix__ingredient-prix--valide {
  display: none;
  background-color: #99e2d0;
  width: 50px;
  height: 70px;
  margin-top: -24px;
  margin-right: -20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
}
.carte-restaurant__menu__choix:hover .carte-restaurant__menu__choix__ingredient-prix--valide {
  display: flex;
}
.carte-restaurant__bouton {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  cursor: pointer;
  margin-left: 60px;
}

/*# sourceMappingURL=styles.css.map */
